<nav class="navbar sidebar navbar-expand-xl navbar-light">
    <!-- Navbar brand for xl START -->
    <div class="d-flex align-items-center">
        <a class="navbar-brand" routerLink="/">
            <img class="light-mode-item navbar-brand-item" src="assets/images/logo.svg" alt="logo">
            <img class="dark-mode-item navbar-brand-item" src="assets/images/logo-light.svg" alt="logo">
        </a>
    </div>
    <!-- Navbar brand for xl END -->
    
    <div class="offcanvas offcanvas-start flex-row custom-scrollbar h-100" data-bs-backdrop="true" tabindex="-1" id="offcanvasSidebar">
        <div class="offcanvas-body sidebar-content d-flex flex-column pt-4">

            <!-- Sidebar menu START -->
            <ul class="navbar-nav flex-column" id="navbar-sidebar">
                <!-- Menu item -->
                <li class="nav-item"><a routerLink="/" routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}" class="nav-link">Dashboard</a></li>

                <!-- Title -->
                <li class="nav-item ms-2 my-2">Paginas</li>

                <!-- Menu item -->
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#collapsebooking" role="button" aria-expanded="false" aria-controls="collapsebooking">
                    Tareas
                    </a>
                    <!-- Submenu -->
                    <ul class="nav collapse flex-column" id="collapsebooking" data-bs-parent="#navbar-sidebar">
                        <li class="nav-item"> <a class="nav-link" routerLink="/Todo" routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}">Lista de tareas</a></li>
                        <li class="nav-item"> <a class="nav-link" routerLink="/ayudaTareas" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Recomendaciones</a></li>
                    </ul>
                </li>

                <!-- Menu item -->
                <!-- <li class="nav-item"> <a class="nav-link" routerLink="login">Login</a></li> -->

                <!-- Menu item -->
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#collapseauthentication" role="button" aria-expanded="false" aria-controls="collapseauthentication">
                        Autenticación
                    </a>
                    <!-- Submenu -->
                    <ul class="nav collapse flex-column" id="collapseauthentication" data-bs-parent="#navbar-sidebar">
                        <li class="nav-item"> <a class="nav-link" routerLink="registro">Registro</a></li>
                        <li class="nav-item"> <a class="nav-link" routerLink="login">Login</a></li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar menu end -->

            <!-- Sidebar footer START -->
            <div class="d-flex align-items-center justify-content-between text-primary-hover mt-auto p-3">
                <a class="h6 fw-light mb-0 text-body" routerLink="login" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Sign out">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i> Log out
                </a>
                <a class="h6 mb-0 text-body" routerLink="setting" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Settings">
                    <i class="bi bi-gear-fill"></i>
                </a>
            </div>
            <!-- Sidebar footer END -->
            
        </div>
    </div>
</nav>